div.outer{
    width:400px;
    height:300px;
    left:50%;
    top:30%;
    margin:auto;
    margin-top:120px;
    font-family:"Lucida Console", Monaco, monospace;
}

div.inner {
    width:100%;
    text-align:center;
}

img {
    margin-left:72px;
}

span {
    background:white;    
}

.blink {
    animation-duration: .5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    81% {
        opacity: 0;
    }    
    100% {
        opacity: 0;                    
    }
}